@import '../../components/sass/standard.scss';

body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../../../server/dist/assets/mclaren_background.jpg');
  background-position: 25% 0%;

  .forgottenpassword {
    .logo {
      align-self: flex-start;
    }

    .form {
      height: 50vh;
      position: fixed;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .button {
        margin-bottom: 20px;
      }
    }
  }
}
