@import '../../components/sass/standard.scss';

body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url('../../../server/dist/assets/mclaren_background.jpg');
  background-position: 25% 0%;
}

.register {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .input {
    margin-bottom: 0;
  }
  .termsAndConditions {
    text-align: center;
    margin-top: 10px;
  }
}
