.checkbox {
  display: inline-block;
  text-align: center;

  input[type="checkbox"] {
    -webkit-appearance: none;
    outline: none;
    background-color: none;
  	border: 2px solid white;
  	padding: 10px;
  	border-radius: 2px;
  	display: inline-block;
    vertical-align: middle;

    &:checked {
      background-image: url('../../../../server/dist/assets/tick.svg');
      background-size: cover;
      outline: none;
    }
  }

  label {
    color: white;
    font-size: 12px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}
