.div{
  padding: 10px 10px;
  border: 1px solid;
  margin: 5px 5px;
  
    &--style-secondary {
      color: red
    }
    
    &--style-standard {
      .div__text {
        color: blue;
      }
    }
}