@import '../../sass/standard.scss';

a {
  text-decoration: none;
}

.button {
  text-align: center;
  width: 90%;
  margin: auto;
  cursor: pointer;

  &__text {
    font-weight: bold;
    font-size: 70px;
    display: block;
    padding-top: 40px;
  }

  &--style {
    &-floating, &-raised {

    }

    &-raised, &-flat {
      border-radius: 20px;
      height: 150px;
      width: 90%;
    }

    &-floating {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    &-raised {

    }

    &-flat {

    }
  }
}
